Repository freshworks/marketplace-sample-apps, pull requests merged in 2020-03, with the labels that each got.

#118 request-api-initial-commit
  Freshworks-Samples/App-Development-Features/freshservice-caching/README.md
  Freshworks-Samples/App-Development-Features/freshservice-caching/app/app.js
  Freshworks-Samples/App-Development-Features/freshservice-caching/app/freshservice_logo.png
  Freshworks-Samples/App-Development-Features/freshservice-caching/app/icon.svg
  Freshworks-Samples/App-Development-Features/freshservice-caching/app/modal.html
  Freshworks-Samples/App-Development-Features/freshservice-caching/app/modal.js
  Freshworks-Samples/App-Development-Features/freshservice-caching/app/style.css
  Freshworks-Samples/App-Development-Features/freshservice-caching/app/template.html
  Freshworks-Samples/App-Development-Features/freshservice-caching/config/iparams.json
  Freshworks-Samples/App-Development-Features/freshservice-caching/manifest.json
Labels: freshservice, work-in-progress

#133 add feedback collecor app to freshteam samples
  Freshworks-Samples/Freshteam/newhire-feedback-collector/README.md
  Freshworks-Samples/Freshteam/newhire-feedback-collector/config/iparams.json
  Freshworks-Samples/Freshteam/newhire-feedback-collector/manifest.json
  Freshworks-Samples/Freshteam/newhire-feedback-collector/server/Template.js
Labels: freshteam

#143 Readme updation
  Freshworks-Samples/Freshservice/onclick_alerts/README.md
  Freshworks-Samples/Freshservice/onclick_alerts/app/app.js
  Freshworks-Samples/Freshservice/onclick_alerts/screenshots/AppFace.png
  Freshworks-Samples/Freshservice/onclick_alerts/screenshots/child ticket details.png
Labels: freshservice, needs-review

#144 Readme updation
  Freshworks-Samples/Freshservice/conditional_ticket_properties/README.md
  Freshworks-Samples/Freshservice/conditional_ticket_properties/screenshots/disableAndAddNote.png
  Freshworks-Samples/Freshservice/freshdesk_app_for_freshservice/README.md
  Freshworks-Samples/Freshservice/freshdesk_app_for_freshservice/screenshots/Iparams.png
  Freshworks-Samples/Freshservice/freshsales_integration/README.md
  Freshworks-Samples/Freshservice/freshsales_integration/screenshots/installation page.png
  Freshworks-Samples/Freshservice/freshservice_app_for_freshdesk/README.md
  Freshworks-Samples/Freshservice/freshservice_app_for_freshdesk/screenshots/Iparams.png
  Freshworks-Samples/Freshservice/onclick_alerts/README.md
  Freshworks-Samples/Freshservice/onclick_alerts/screenshots/AppFace.png
  Freshworks-Samples/Freshservice/onclick_alerts/screenshots/child ticket details.png
  Freshworks-Samples/Freshservice/show_ticket_and_associated_details/README.md
  Freshworks-Samples/Freshservice/show_ticket_and_associated_details/screenshots/AppFace.png
  Freshworks-Samples/Freshservice/show_ticket_and_associated_details/screenshots/ModalContainingData.png
Labels: needs-review

#135 Add sample_cti_app in Freshdesk samples
  Freshworks-Samples/Freshdesk/sample_cti_app/README.md
  Freshworks-Samples/Freshdesk/sample_cti_app/app/app.js
  Freshworks-Samples/Freshdesk/sample_cti_app/app/assets/cti_incoming_call_flow.png
  Freshworks-Samples/Freshdesk/sample_cti_app/app/assets/cti_outgoing_call_flow.png
  Freshworks-Samples/Freshdesk/sample_cti_app/app/assets/icon.svg
  Freshworks-Samples/Freshdesk/sample_cti_app/app/scripts/call.js
  Freshworks-Samples/Freshdesk/sample_cti_app/app/scripts/contact.js
  Freshworks-Samples/Freshdesk/sample_cti_app/app/scripts/socket.js
  Freshworks-Samples/Freshdesk/sample_cti_app/app/scripts/ticket.js
  Freshworks-Samples/Freshdesk/sample_cti_app/app/style.css
  Freshworks-Samples/Freshdesk/sample_cti_app/app/templates/template.html
  Freshworks-Samples/Freshdesk/sample_cti_app/config/iparams.json
  Freshworks-Samples/Freshdesk/sample_cti_app/manifest.json
  Freshworks-Samples/Freshdesk/sample_cti_app/middleware/app.js
  Freshworks-Samples/Freshdesk/sample_cti_app/middleware/package.json
Labels: enhancement, freshdesk, under-review

#146 Add conversations data storage helper sample app
  Freshworks-Samples/Freshchat/conversations-data-storage-helper/README.md
  Freshworks-Samples/Freshchat/conversations-data-storage-helper/app/app.js
  Freshworks-Samples/Freshchat/conversations-data-storage-helper/app/freshchat_logo.png
  Freshworks-Samples/Freshchat/conversations-data-storage-helper/app/helper.js
  Freshworks-Samples/Freshchat/conversations-data-storage-helper/app/icon.svg
  Freshworks-Samples/Freshchat/conversations-data-storage-helper/app/template.html
  Freshworks-Samples/Freshchat/conversations-data-storage-helper/config/iparams.json
  Freshworks-Samples/Freshchat/conversations-data-storage-helper/manifest.json
  Freshworks-Samples/Freshchat/conversations-data-storage-helper/server/helper.js
  Freshworks-Samples/Freshchat/conversations-data-storage-helper/server/server.js
Labels: enhancement, freshchat, under-review
